h2 {
	font-size: 1.15em;
}

body {
	margin-top: 15px;
}

.kpis-container {
	display: flex;
}

.kpi {
	border: 1px solid #999;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.1);
	padding: 30px;
	margin: auto;
	background-color: #fff;
}

.kpi .label {
	color: #999;
}

section.summary {
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	background-color: #fafafa;
}

span.error {
	font-size: 0.7em;
}

a.pull-right {
	margin-right: 5px;
}

.kpi.interval_5 {
	background-color: #CCFFCC;
}

.kpi.interval_4 {
	background-color: #EEFFEE;
}

.kpi.interval_3 {
	background-color: #FFE;
}

.kpi.interval_2 {
	background-color: #FFEEEE;
}

.kpi.interval_1 {
	background-color: #FFCCCC;
}

pre.error, div.errview {
	margin-left: 15px;
}

pre.error {
	background-color: white;
	margin-top: 5px;
	white-space: pre-wrap;
}

span.errcount {
	color: #511;
}

img.screenshot {
	max-width: 100%;
}

div.screenshots-pagination {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

div.screenshots-pagination > * {
	flex-grow: 1;
}

div.screenshots-pagination .group a {
	margin: 2px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

div.flex {
	display: flex;
	align-items: center;
}

div.flex > * {
	margin: auto;
}