<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/vendor/zoom/jquery.zoom.min.js"></script>
</head>
<body>
	<div class="container">
		{{{body}}}
	</div>
</body>
</html>